.container{padding: 0%}
/*topmenu*/
.topmenu{background: #00b2a5; padding-top: 10px}
.topmenu .col-md-6{padding: 0% 0%}
.topmenu li{display: inline; float: right; margin-right: 3%;font-size: 13px;}
.topmenu a{color: #fff; text-decoration: none}
.topmenu .left li{float: left;}
.topmenu p{color: #fff}
.topmenu .container{padding-left: 0px;} 
.topmenu .left{text-align: left}
.topmenu p:hover{color: #ff3e81}
/*header*/
.header .col-md-4{text-align: center;}
.header .btn-glyphicon {padding: 11px; background:#00a192; margin-right:4px; }
.header .icon-btn {width: 40%; padding: 1px 15px 3px 2px; border-radius: 10px;}
.header .left{margin-right: -11%; float: right; background:#00a192; border-top-right-radius: 5px; border-bottom-right-radius: 5px; border-bottom-left-radius: 0px; border-top-left-radius: 0px;}
.header .right{float: left; background:#d62c65; border-top-right-radius: 5px; border-bottom-right-radius: 5px; border-bottom-left-radius: 0px; border-top-left-radius: 0px;}
.header .right-box{ background-color:#ff3e81; border-color:#fff}
.header .left-box{ background-color:#00b2a5; border-color:#fff}
.header .leftbox{padding: 4% 5% 0% 0%;}
.header .rightbox{padding-top: 4%}
.header li{display: inline; float: right; background: #eeeded; padding: 1%; margin-left: 2%; border-radius: 10px;}
.header li:hover{background: #00b2a5; color: #fff}
.header .rightbox .flaticon{font-size: 23px; margin-left: -40%;}
.header .leftbox .flaticon{font-size: 23px}
.header p{margin-top: 5%}

/*menu*/
.menu{background: #dad8a7;text-align: right;direction: rtl; height: 50px;} 
.menu .dropdown-menu > li > a:hover { color: #fff; text-decoration: none;background-color: #dad8a7;}
.menu .navbar-default{ background-color: #dad8a7;border-color: #dad8a7; position: inherit;}
.menu .navbar-default .navbar-brand {color: #ecf0f1;}
.menu .navbar-default .navbar-brand:hover,
.menu .navbar-default .navbar-brand:focus{ color: #ffffff;}
.menu .navbar-default .navbar-text { color: #ecf0f1;}
.menu .navbar-default .navbar-nav > li > a {color: #2c7467;}
.menu .navbar-default .navbar-nav > li > a:hover,
.menu .navbar-default .navbar-nav > li > a:focus {color: #ff3e81;}
.menu .navbar-default .navbar-nav > .active > a,
.menu .navbar-default .navbar-nav > .active > a:hover,
.menu .navbar-default .navbar-nav > .active > a:focus {color: #ffffff;}
.menu .navbar-default .navbar-nav > .open > a,
.menu .navbar-default .navbar-nav > .open > a:hover,
.menu .navbar-default .navbar-nav > .open > a:focus{color: #ffffff;}
.menu .navbar-default .navbar-toggle .icon-bar {background-color: #ecf0f1;}
.menu .navbar-default .navbar-collapse,
.menu .navbar-default .navbar-form {border-color: #ecf0f1;}
.menu .navbar-default .navbar-link {color: #ecf0f1;}
.menu .navbar-default .navbar-link:hover {color: #ffffff;}
.menu .form-control{border-top-right-radius: 10px !important;border-bottom-right-radius: 10px !important;border-top-left-radius: 0px;border-bottom-left-radius: 0px;border-left-color: #fff !important;}
.menu .input-group-addon{border-left: 0;border-bottom-left-radius: 10px;border-top-left-radius: 10px;border-right-color: #fff;}
.menu .navbar-header{margin-left: 4%;}
.menu #imaginary_container{margin-top:3%; /* Don't copy this */}
.menu .stylish-input-group .input-group-addon{background: white !important; }
.menu .stylish-input-group .form-control{border-right:0; box-shadow:0 0 0; border-color:#ccc;}
.menu .stylish-input-group button{border:0;background:transparent;}


/*slider*/
.slider{margin-top: 1%}
.slider.carousel-indicators{width: 5%;top: 9%; left: 114.5%; position: absolute; white-space: nowrap;}
.slider img{width: 100%;}
.slider.carousel-indicators li { display: inline-block; width: 12px; height: 12px; margin: 1px; text-indent: -999px; cursor: pointer;
background-color: #000; background-color: #ff3e81; border: 1px solid #fff; border-radius: 10px;}
.slider .carousel-indicators .active { width: 13px; height: 13px; margin: 0; background-color: #00b2a5;}
/*service*/
.service{background: #d62c65; text-align: center; color: #fff;}

/*Caption-hover*/
.Caption-hover{background: #dad8a7;border-radius: 10px; padding:1% 0%}
.Caption-hover .col-md-5 .cuadro_intro_hover{height: 300px;}
.Caption-hover .cuadro_intro_hover{padding: 0px;position: relative;overflow: hidden;height: 150px;}
.Caption-hover .cuadro_intro_hover:hover .caption{opacity: 1;transform: translateY(-150px);-webkit-transform:translateY(-150px);-moz-transform:translateY(-150px);
  -ms-transform:translateY(-150px);-o-transform:translateY(-150px);}
.Caption-hover .cuadro_intro_hover img{z-index: 4;}
.Caption-hover .cuadro_intro_hover .caption{position: absolute;top:100px;-webkit-transition:all 0.3s ease-in-out;-moz-transition:all 0.3s ease-in-out;
  -o-transition:all 0.3s ease-in-out;-ms-transition:all 0.3s ease-in-out;transition:all 0.3s ease-in-out;width: 100%;}
.Caption-hover .col-md-5 .caption{top: 250px}
.Caption-hover .cuadro_intro_hover .blur{background-color: rgba(0,0,0,0.7);height: 300px;z-index: 5;position: absolute;width: 100%;}
.Caption-hover .cuadro_intro_hover .caption-text{z-index: 10;color: #fff;position: absolute;height: 300px;text-align: center;top:-20px;width: 100%;}

/*product*/
.product .col-md-12{
  padding-left: 0%;
  padding-right: 0%;
}
/* Tabs panel */

/* Default mode */
.tabbable-line > .nav-tabs { border: none; padding: 0% 1%;}
.tabbable-line > .nav-tabs > li { margin-right: 2px;}
.tabbable-line > .nav-tabs > li > a { border: 0; margin-right: 0;color: #737373;}
.tabbable-line > .nav-tabs > li > a > i { color: #a6a6a6;}
.tabbable-line > .nav-tabs > li.open, .tabbable-line > .nav-tabs > li:hover { border-bottom: 4px solid #fbcdcf;}
.tabbable-line > .nav-tabs > li.open > a, .tabbable-line > .nav-tabs > li:hover > a { border: 0;background: none !important;color: #333333;}
.tabbable-line > .nav-tabs > li.open > a > i, .tabbable-line > .nav-tabs > li:hover > a > i {color: #a6a6a6;}
.tabbable-line > .nav-tabs > li.open .dropdown-menu, .tabbable-line > .nav-tabs > li:hover .dropdown-menu { margin-top: 0px;}
.tabbable-line > .nav-tabs > li.active {border-bottom: 4px solid #f3565d;position: relative;}
.tabbable-line > .nav-tabs > li.active > a {border: 0;color: #333333;}
.tabbable-line > .nav-tabs > li.active > a > i { color: #404040;}
.tabbable-line > .tab-content { margin-top: -3px; background-color: #fff; border: 0; border-top: 1px solid #eee; padding: 15px 0;}
.portlet .tabbable-line > .tab-content {padding-bottom: 0;}
/* Below tabs mode */
.tabbable-line.tabs-below > .nav-tabs > li { border-top: 4px solid transparent;}
.tabbable-line.tabs-below > .nav-tabs > li > a {margin-top: 0;}
.tabbable-line.tabs-below > .nav-tabs > li:hover {border-bottom: 0;border-top: 4px solid #fbcdcf;}
.tabbable-line.tabs-below > .nav-tabs > li.active { margin-bottom: -2px;border-bottom: 0; border-top: 4px solid #f3565d;}
.tabbable-line.tabs-below > .tab-content { margin-top: -10px; border-top: 0;border-bottom: 1px solid #eee;padding-bottom: 15px;}
.offer-content img{width:100%;height:100%;}
.offer-content h3{font-family:sans;font-size:12px;margin-left: 30%;color:#ff3e81;}
.offer-content p{font-family:sans;font-size:12px;margin-left:30%;color:#33a199;}
.shape{border-style: solid; border-width: 0 70px 40px 0; float:right; height: 0px; width: 0px;-ms-transform:rotate(360deg); /* IE 9 */
-o-transform: rotate(360deg);  /* Opera 10.5 */-webkit-transform:rotate(360deg); /* Safari and Chrome */transform:rotate(360deg);}
.offer{ background:#fff; border:1px solid #ddd; margin: 15px 0; overflow:hidden;}
.offer:hover {-webkit-transform: scale(1.1); -moz-transform: scale(1.1); -ms-transform: scale(1.1); -o-transform: scale(1.1); 
  transform:rotate scale(1.1); -webkit-transition: all 0.4s ease-in-out; -moz-transition: all 0.4s ease-in-out; -o-transition: all 0.4s ease-in-out;transition: all 0.4s ease-in-out;}
.shape { border-color: rgba(255,255,255,0) #d9534f rgba(255,255,255,0) rgba(255,255,255,0);}
.offer-radius{ border-radius:7px;}
.offer-danger {	border-color: #d9534f; }
.offer-danger .shape{border-color: transparent #ff3e81 transparent transparent;}
.offer-success {	border-color: #ff3e81; }
.offer-success .shape{ border-color: transparent #ff3e81 transparent transparent;}
.offer-default {	border-color: #ff3e81; }
.offer-default .shape{border-color: transparent #ff3e81 transparent transparent;}
.offer-primary {	border-color: #ff3e81; }
.offer-primary .shape{ border-color: transparent #ff3e81 transparent transparent;}
.offer-info {	border-color: #ff3e81; }
.offer-info .shape{ border-color: transparent #ff3e81 transparent transparent;}
.offer-warning {border-color: #ff3e81; }
.offer-warning .shape{border-color: transparent #ff3e81 transparent transparent;}
.shape-text{color:#fff; font-size:12px; font-weight:bold; position:relative; right:-40px; top:2px; white-space: nowrap;
  -ms-transform:rotate(30deg); /* IE 9 */-o-transform: rotate(360deg);  /* Opera 10.5 */-webkit-transform:rotate(30deg); /* Safari and Chrome */transform:rotate(30deg);}	
.product .crop-size{width: 20%}

/*media*/
.media{background: #ff9e9e; padding: 0% 2%; border-radius: 10px}
.media img{width: 100%; border-radius: 10px;}
.media .col-md-4{padding-top: 30px;}
.media .col-md-2{padding: 1%}
.media .col-md-2 img{margin-top: 10%;}

/*footer*/
.footer{background: #484848}
.footer img{width: 100%; border-radius: 10px;}
.footer .col-md-7{text-align: center; direction: rtl; margin-top: 1%}
.footer .email-1,.phone-1,.address-1{color:#b8f2ed;padding: 3%;}
.footer .email-2,.phone-2,.address-2{color:white;}
.footer .col-md-6{padding: 5%}
.footer .bottom{padding-left: 1%; padding-right: 1%}
.footer .right-box{padding-left: 3%}
.footer .left-box{padding-right: 3%}
.text-footer{background: #353535; color: #fff;padding-top: 1%; padding-bottom: 1%;text-align: center;}
.footer .col-md-5{padding-right: 6%;
  padding-left: 0%;
  margin-right: 0%;}