    /*
    Flaticon icon font: Flaticon
    Creation date: 25/09/2018 08:22
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-shopping-cart:before { content: "\f100"; }
.flaticon-facebook:before { content: "\f101"; }
.flaticon-telegram:before { content: "\f102"; }
.flaticon-instagram:before { content: "\f103"; }
.flaticon-twitter:before { content: "\f104"; }
.flaticon-user:before { content: "\f105"; }
.flaticon-lock:before { content: "\f106"; }
.flaticon-search:before { content: "\f107"; }
.flaticon-home:before { content: "\f108"; }
.flaticon-home-1:before { content: "\f109"; }
.flaticon-mail:before { content: "\f10a"; }
.flaticon-call:before { content: "\f10b"; }
.flaticon-placeholder:before { content: "\f10c"; }
.flaticon-placeholder-1:before { content: "\f10d"; }
    
    $font-Flaticon-shopping-cart: "\f100";
    $font-Flaticon-facebook: "\f101";
    $font-Flaticon-telegram: "\f102";
    $font-Flaticon-instagram: "\f103";
    $font-Flaticon-twitter: "\f104";
    $font-Flaticon-user: "\f105";
    $font-Flaticon-lock: "\f106";
    $font-Flaticon-search: "\f107";
    $font-Flaticon-home: "\f108";
    $font-Flaticon-home-1: "\f109";
    $font-Flaticon-mail: "\f10a";
    $font-Flaticon-call: "\f10b";
    $font-Flaticon-placeholder: "\f10c";
    $font-Flaticon-placeholder-1: "\f10d";