	/*
  	Flaticon icon font: Flaticon
  	Creation date: 25/09/2018 08:22
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
font-style: normal;
margin-left: 20px;
}

.flaticon-shopping-cart:before { content: "\f100"; }
.flaticon-facebook:before { content: "\f101"; }
.flaticon-telegram:before { content: "\f102"; }
.flaticon-instagram:before { content: "\f103"; }
.flaticon-twitter:before { content: "\f104"; }
.flaticon-user:before { content: "\f105"; }
.flaticon-lock:before { content: "\f106"; }
.flaticon-search:before { content: "\f107"; }
.flaticon-home:before { content: "\f108"; }
.flaticon-home-1:before { content: "\f109"; }
.flaticon-mail:before { content: "\f10a"; }
.flaticon-call:before { content: "\f10b"; }
.flaticon-placeholder:before { content: "\f10c"; }
.flaticon-placeholder-1:before { content: "\f10d"; }